@media screen and (min-width: 992px) and (max-width: 5000px) {
  body {
    margin: 0 auto;
  }

  header {
    background-color: $light-grey;
    margin: 0px;
    height: 75px;
  }

  .header {
    &__logo {
      margin: 16px 40px;
      height: 40px;
      &--center {
        margin: 0 auto;
        text-align: left;
      }
    }
  }

  .fleche-retour {
    text-align: left;
    padding: 0;
    position: absolute;
    top: 18px;
    left: 40px;
  }
  .introduction {
    position: absolute;
    top: 125px;

    & h1 {
      font-size: 45px;
    }

    & .decouvrez {
      font-size: 25px;
    }
  }

  .location {
    width: 30%;
    position: absolute;
    right: 0;
    top: 0;
    border-bottom-left-radius: 50px;
    border: 0;
    border-left: 5px solid rgb(205, 205, 205);
    border-bottom: 5px solid rgb(205, 205, 205);
    padding: 10px;
    &__text {
      font-size: 20px;
    }
  }

  //

  .fct {
    width: 80%;
  }
  .fonctionnement {
    display: flex;
    flex-direction: row;
    padding: 15px;
    width: 100%;

    &__step {
      width: 33%;
      padding: 25px 30px;

      &--number {
        left: -3%;
        bottom: 19px;
        padding: 7px 11px;
        font-size: 12px;
      }
    }

    &__text {
      font-size: 18px;
    }
  }

  .flex__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
  }

  .restaurant {
    &__card {
      width: 48%;
      flex-wrap: wrap;
    }

    &__details h3 {
      font-size: 25px;
    }

    &__img {
      height: 300px;

      &--page {
        height: 450px;
        object-position: center;
      }
    }

    &__name {
      top: 470px;

      &--center {
        width: 90%;
        font-size: 54px;
      }
    }
  }
  .ajuster-img {
    object-position: center;
  }
  //
  //
  //

  .quartier {
    font-size: 22px;
  }
  .favorite {
    right: 60px;
    top: 10px;

    &__empty,
    &__filled {
      font-size: 30px;
    }
  }

  //  animation

  .course {
    padding: 0;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
  }

  .card__repas,
  .overflow,
  .icon,
  .plat__price {
    height: 80px;
  }

  .overflow {
    padding: 15px;
  }

  .price {
    font-size: 17px;
    line-height: 6.4;
  }
  .dish {
    &__name {
      font-size: 20px;
      margin-left: 0;
    }

    &__side {
      font-size: 14px;
      margin-left: 0;
    }
    &__animation {
      font-size: 25px;
      line-height: 4;
      padding: 0;
    }

    &__side {
      font-size: 19px;
    }
  }

  .card__repas {
    width: 30%;
    &:hover {
      & .plat__price {
        transform: translate(-60px);
        width: 15%;
      }

      & .dish__animation {
        transform: translateX(-19px) rotate(360deg);
      }

      & .overflow {
        width: 70%;
      }

      & .icon {
        width: 20%;
      }
    }
  }

  .grey-filled-heart {
    color: #f2f2f2;
  }

  #pages {
    font-size: 50px;
  }

  .content {
    &__title {
      font-size: 25px;
      margin-left: 35px;
    }
  }
}
