@mixin footer-bg($color: $black) {
  background-color: lighten($color: #000000, $amount: 10);
  padding: 2rem;
}

@keyframes fonctionnement-kf {
  0% {
    transform: translateX(-5rem);
  }

  50% {
    transform: translateX(5rem);
  }

  75% {
    transform: translateX(-2rem);
  }

  100% {
    transform: translateX(0);
  }
}

.animation-fct {
  animation-name: fonctionnement-kf;
  animation-duration: 1s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in;
}
