@import "./variables";

button {
  background: linear-gradient(
    to bottom right,
    $secondary-color,
    $primary-color
  );
  padding: 20px 30px;
  width: 290px;
  color: white;
  font-size: 20px;
  border-radius: 50px;
  border: none;
  box-shadow: #bebebe 5px 5px 5px;

  &:hover {
    cursor: pointer;
    box-shadow: $shadow;
  }
}
.bouton {
  padding: 20px 60px;
  color: white;
  background-color: violet;
  border: none;
  border-radius: 56px;
  font-size: 20px;
}

// $first-color: teal;
// $second-color: tomato;
// $btn-text-color: white;

// @mixin darken($color: $first-color) {
//   background-color: darken($color: $color, $amount: 10%);
// }

// .boutn {
//   background-color: $first-color;
//   padding: 10px;
//   border: $first-color solid 4px;
//   color: $btn-text-color;
//   border-radius: 20px;
//   transition: ease-in 150ms;
//   outline: none;

//   &:hover {
//     cursor: pointer;
//     font-weight: 500;
//   }

//   &:active {
//     @include darken;
//   }
// }
