@font-face {
  font-family: "Roboto-Regular";
  src: url(../../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto-Bold";
  src: url(../../fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: "Shrikhand";
  src: url(../../fonts/Shrikhand-Regular.ttf);
}
