@media screen and (min-width: 500px) and (max-width: 799px) {
  .btn__header {
    // border-radius: 10px;
    float: right;
    padding: 10px 17px;
    ::after {
      border-radius: 10px;
    }
  }
  .explorer {
    width: 65%;
    margin: 0 auto;
  }
  header {
    background-color: #f2f2f2;
    margin: 0px;
    height: 60px;
  }

  .header {
    &__logo {
      float: left;
      margin: 10px 40px;
      height: 20px;
      &--center {
        margin: 0;
      }
    }
  }
  .flex-intro {
    display: flex;
    flex-direction: column;
  }

  .introduction {
    padding: 15px 0;
    display: block;
    height: fit-content;
    margin-bottom: 20px;

    & > h1 {
      margin-bottom: 10px;
    }
  }

  .decouvrez {
    display: inline-block;
    width: 40%;
    font-size: 15px;
  }

  .location {
    width: 30%;
    position: absolute;
    right: 0;
    top: 0;
    border-bottom-left-radius: 50px;
    border: 0;
    border-left: 5px solid rgb(205, 205, 205);
    border-bottom: 5px solid rgb(205, 205, 205);
    padding: 10px;
    &__text {
      font-size: 15px;
    }
  }

  h1 {
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    // text-align: center;
    // width: 60%;
  }

  // .fonctionnement {
  //   display: flex;
  //   flex-direction: row;
  //   padding: 15px;

  //   &__step {
  //     width: 33%;
  //     padding: 15px 30px;

  //     &--number {
  //       left: -2%;
  //       bottom: 9px;
  //       padding: 7px 9px;
  //       font-size: 10px;
  //     }
  //   }

  //   &__text {
  //     font-size: 12px;
  //   }

  //   &__icon {
  //     font-size: 15px;
  //   }
  // }
  .flex__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
  }

  .restaurant__card {
    width: 48%;
  }

  // .fonctionnement {
  //   display: flex;
  //   flex-direction: row;

  //   &__step {
  //     width: 33%;
  //     padding: 20px 15px;
  //   }

  //   &__text {
  //     font-size: 16px;
  //   }
  // }
}
