@media screen and (min-width: 800px) {
  .btn__header {
    // border-radius: 10px;

    padding: 17px;
    ::after {
      border-radius: 10px;
    }
  }
  .explorer {
    width: 65%;
    margin: 0 auto;
  }
  header {
    background-color: #f2f2f2;
    margin: 0px;
    height: 60px;
  }

  .header {
    &__logo {
      float: left;
      margin: 10px 40px;
      height: 20px;
      &--center {
        margin: 0;
      }
    }
  }
  .flex-intro {
    display: flex;
    flex-direction: column;
  }

  .introduction {
    padding: 15px 0;
    display: block;
    height: fit-content;
    margin-bottom: 20px;

    & > h1 {
      margin-bottom: 10px;
    }
  }

  .decouvrez {
    display: inline-block;
    width: 40%;
    font-size: 15px;
  }

  .location {
    width: 30%;
    position: absolute;
    right: 0;
    top: 0;
    border-bottom-left-radius: 50px;
    border: 0;
    border-left: 5px solid rgb(205, 205, 205);
    border-bottom: 5px solid rgb(205, 205, 205);
    padding: 10px;
    &__text {
      font-size: 20px;
    }
  }

  h1 {
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    // text-align: center;
    // width: 60%;
  }
  //
  .fonctionnement {
    display: flex;
    flex-direction: row;
    padding: 15px;

    &__step {
      width: 33%;
      padding: 25px 30px;

      &--number {
        left: -3%;
        bottom: 16px;
        padding: 9px 13px;
        font-size: 15px;
      }
    }

    &__text {
      font-size: 17px;
    }

    // &__icon {
    //   font-size: 15px;
    // }
  }

  .flex__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
  }

  //
  //
  //
  .restaurant__details h3 {
    font-size: 16px;
  }

  .quartier {
    font-size: 15px;
  }
  .favorite {
    right: 26px;
    top: 7px;
  }

  //
  //
  .empty,
  .filled {
    font-size: 20px;
  }
  .card__repas {
    margin: 5px 0;
    transition: all ease-out 300ms;

    &:hover {
      & .plat__price {
        transform: translate(-90px);
        width: 80px;
      }

      & .dish__animation {
        transform: translateX(-30px) rotate(360deg);
      }

      & .overflow {
        width: 53%;
      }
    }
  }

  .plat__price {
    top: 66px;
    right: 200px;
  }
  .overflow,
  .plat__price,
  .icon,
  .card__repas {
    height: 150px;
  }

  .card__repas {
    width: 25%;
  }

  .course {
    flex-direction: row;
  }

  .restaurant__card {
    width: 22.5%;
  }

  .ajuster-img {
    object-position: unset;
  }

  .flex__cards {
    justify-content: space-between;
  }
}
