@media screen and (min-width: 768px) and (max-width: 991px) {
  body {
    border: 1px solid yellowgreen;
  }

  // .fonctionnement {
  //   display: flex;
  //   flex-direction: row;
  // }

  // .fonctionnement__step {
  //   width: 33%;
  // }
  .flex__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
  }

  .restaurant__card {
    width: 48%;
  }
}

@media screen and (min-width: 992px) {
  body {
    border: 1px solid blue;
    max-width: 1190px;
  }

  .introduction {
    display: block;
    height: 300px;
  }

  .btn {
    float: right;
    bottom: -67px;
    right: 97px;
  }

  h1 {
    font-size: 60px;
  }

  .decouvrez {
    float: left;
    bottom: 10px;
    left: 20px;
  }
  .fonctionnement {
    display: flex;
    flex-direction: row;
  }

  .fonctionnement__step {
    width: 33%;
  }
  .flex__cards {
    display: flex;
    flex-wrap: wrap;
  }

  .flex__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
  }

  .restaurant__card {
    width: 48%;
  }
  //
  //
  //
  .card__repas {
    margin: 5px 0;

    transition: all ease-out 300ms;

    &:hover {
      & .plat__price {
        transform: translate(-90px);
        width: 80px;
      }

      & .dish__animation {
        transform: translateX(-30px) rotate(360deg);
      }

      & .overflow {
        width: 53%;
      }
    }
  }

  .plat__price {
    top: 66px;
    right: 200px;

    .overflow,
    .plat__price,
    .icon,
    .card__repas {
      height: 150px;
    }

    .card__repas {
      width: 33%;
    }

    .course {
      flex-direction: row;
    }
  }
}
