/* PAGES DE RESTAURANT INDIVIDUELLES */
@import "./footer";
@import "./settings";
@import "./fonts";
@import "./animations" .header {
  position: static;
  background-color: white;
}

.restaurant {
  &__img--page {
    height: 345px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 40px;
  }

  &__name {
    font-family: "Shrikhand";
    font-size: 37px;
    background-color: #f2f2f2;
    width: 100%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    position: absolute;
    top: 362px;
    padding: 40px 50px 40px 20px;
    font-size: 40px;
    font-weight: normal;
  }

  &__flex {
    display: flex;
    justify-content: space-between;
  }
}

.content {
  padding: 15px;
  background-color: #f2f2f2;
  width: 100%;

  &__flex {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
  }

  &__title {
    font-weight: normal;
    font-size: 25px;
    margin-bottom: 20px;
    font-family: "Roboto-Regular";

    &--underline {
      border-bottom: rgb(110, 222, 185) 3px solid;
      padding-bottom: 10px;
    }
  }
}

.commander {
  background-color: #f2f2f2;
  text-align: center;
  padding-bottom: 50px;
}
