/* PAGES DE RESTAURANT INDIVIDUELLES */

.header {
  position: static;
  background-color: white;
}

.restaurant__img--page {
  height: 345px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  margin-bottom: 40px;
}

.restaurant__name {
  font-family: "Shrikhand";
  font-size: 37px;
  background-color: #f2f2f2;
  width: 100%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  position: absolute;
  top: 362px;
  padding: 40px 50px 40px 20px;
  font-size: 40px;
}

.content {
  padding: 20px;
  background-color: #f2f2f2;
  width: 100%;

  &__flex {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 50px;
  }

  &__title {
    font-weight: normal;
    font-size: 25px;
    margin-bottom: 20px;
    font-family: "Roboto-Regular";

    &--underline {
      border-bottom: rgb(110, 222, 185) 3px solid;
      padding-bottom: 10px;
    }
  }
}

.commander {
  background-color: #f2f2f2;
  text-align: center;
  padding-bottom: 50px;
}

h1 {
  font-weight: normal;
  font-family: "Roboto-Bold";
  font-size: 35px;
}

.dish {
  background-color: white;
  padding: 17px 15px;
  border-radius: 20px;

  &__flex {
    display: flex;
    justify-content: space-between;
  }
  &__name {
    font-size: 23px;
    padding-bottom: 5px;
  }

  &__side {
    font-size: 20px;
  }

  &__price {
    font-size: 22px;
    font-family: "Roboto-Bold";
  }
}
