@font-face {
  font-family: "Roboto-Regular";
  src: url(../../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto-Bold";
  src: url(../../fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: "Shrikhand";
  src: url(../../fonts/Shrikhand-Regular.ttf);
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Roboto";
}

body {
  min-width: 480px;
  max-width: 720px;
  width: 480px;
  border: white solid 1px;
  font-family: sans-serif;
  margin: 50px auto;
  box-sizing: border-box;
  font-family: "Roboto-Regular";
  position: relative;
  height: fit-content;
}
