
body {
  min-width: 480px;
  max-width: 720px;
  width: 480px;
  border: white solid 1px;
  font-family: sans-serif;
  margin: 50px auto;
  box-sizing: border-box;
  font-family: "Roboto-Regular";
  position: relative;
  height: fit-content;
}