$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$white: #fff;
$light-grey: #f2f2f2;
$black: black;

$shadow-active: 0 10px 20px rgba($black, 0.2);
$shadow: 0 5px 10px rgba($black, 0.2);

// @mixin dark($color: $tertiary-color) {
//   color: darken($color, 50%);
// }

@mixin light-bg($color: black) {
  background-color: lighten($color, $amount: 10);
}

@mixin darkened($color: $tertiary-color) {
  color: darken($color, $amount: 35);
}

@mixin lighten($color: $tertiary-color) {
  color: lighten($color, $amount: 35);
}

//
//
