$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
// $cadrenouveau: #008766;

$hover-shadow: 8px 8px 13px #afafaf;
$shadow: 5px 5px 10px #afafaf;

// @mixin dark($color: $tertiary-color) {
//   color: darken($color, 50%);
// }

@mixin light-bg($color: black) {
  background-color: lighten($color, $amount: 10);
}

@mixin dark-bg($color: #f2f2f2) {
  background-color: darken($color, $amount: 10);
}

@mixin darkened($color: $tertiary-color) {
  color: darken($color, $amount: 35);
}

@mixin lighten($color: $tertiary-color) {
  color: lighten($color, $amount: 35);
}

//
//
