//Fichier principal
@import "commun/01_settings";
@import "commun/02_variables";
@import "pages-individuelles/animations";
@import "commun/03_buttons";
@import "commun/04_header";
@import "accueil/05_hero-section";
@import "accueil/06_fonctionnement";
@import "accueil/07_restaurants";
@import "commun/08_footer";
@import "pages-individuelles/09_restaurant-page";
@import "media-queries/10_mq-tablet";
@import "media-queries/11_mq-desktop";
