@import "./variables";
@import "./accueil";
@import "./restaurant-page";
@import "./buttons";
@import "./mq-tablet";
@import "./mq-desktop";

// SETTINGS

@font-face {
  font-family: "Roboto-Regular";
  src: url(../../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto-Bold";
  src: url(../../fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: "Shrikhand";
  src: url(../../fonts/Shrikhand-Regular.ttf);
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  min-width: 480px;
  // max-width: 720px;
  // width: 480px;

  font-family: sans-serif;
  margin: 0px auto;
  font-family: "Roboto-Regular";
  position: relative;
  height: fit-content;
}

/* FOOTER */

.footer {
  @include light-bg;
  padding: 25px;
  width: 100%;
  color: white;

  &__logo {
    filter: invert(1);
    height: 17px;
    margin-bottom: 25px;

    &--adjust {
      font-size: 13px;
    }
  }

  a:visited,
  a:link,
  a:hover {
    color: white;
  }

  &__icon {
    margin-right: 10px;
  }
}

li {
  list-style: none;
  margin-bottom: 10px;
}

.mentions-legales:visited,
.mentions-legales {
  color: white;
}
