@import "./buttons";
@import "./restaurant-page";
@import "./settings";
@import "./variables";
@import "./fonts";
@import "./queries";
@import "./animations";
@import "./footer";
@import "./accueil";
