@import "./settings";
@import "./header";
@import "./hero";
@import "./variables";
@import "./accueil";
@import "./restaurant-page";
@import "./buttons";
@import "./mq-tablet";
@import "./mq-desktop";
@import "./footer";
