@import "./variables";

$gradients: linear-gradient(to bottom right, $secondary-color, $primary-color);

.favorite {
  border: 2px dotted black;
  padding: 50px;
}

.empty {
  color: red;
}

.filled {
  color: linear-gradient(to bottom right, $secondary-color, $primary-color);
}
