@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animation";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "layouts/flex";
@import "layouts/footer";
@import "layouts/header";
@import "layouts/navigation";
@import "layouts/hero";
@import "layouts/fonctionnement";
@import "layouts/restaurants";

@import "components/buttons";
@import "components/favorite";
@import "components/arrow";
@import "components/content";

@import "pages/home";
@import "pages/pages";
