@import "../commun/02_variables";

h2 {
  font-family: "Roboto-Bold";
  font-size: 25px;
  margin-left: 50px;
}
.fonctionnement {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 90%;
  padding: 40px;
  margin: 0 auto;
  margin-bottom: 40px;
  cursor: pointer;
  &__center {
    margin: 0 auto;
  }

  &__text {
    font-size: 20px;
    font-family: "Roboto-Bold";
    /* color: black; */
  }
  &__flex {
    display: flex;
  }

  &__icon {
    margin-right: 20px;
    font-size: 23px;
    color: $primary-color;
  }

  &__step {
    position: relative;
    padding: 35px 15px;
    padding-left: 40px;
    background-color: $light-grey;
    border-radius: 35px;
    &:hover {
      @include fct-hover;
    }

    &--number {
      border-radius: 40px;
      font-size: 15px;
      background-color: $primary-color;
      padding: 10px 14px;
      -webkit-text-fill-color: white;
      position: absolute;

      left: -3%;
      text-align: center;
    }
  }
}
