@import "../commun/02_variables";
// @import "../06_fonctionnement";

/* RESTAURANTS */

.restaurant {
  background-color: $light-grey;
  padding: 20px;
  padding-top: 60px;

  a:link {
    color: black;
  }

  &__h2 {
    margin-bottom: 30px;
  }

  &__card,
  &__img,
  &__details {
    border-radius: 20px;
  }

  &__card {
    width: 100%;
    background-color: $white;
    box-shadow: $shadow;
    margin-bottom: 20px;
  }
  &__img {
    height: 225px;
    width: 100%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    object-fit: cover;
    object-position: bottom;
  }
  &__details {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;

    & h3 {
      font-size: 23px;
    }
  }

  &__new {
    @include darkened;
    font-size: 20px;
    font-family: "Roboto-Bold";
    padding: 8px 15px;
    width: fit-content;
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: $tertiary-color;
  }
}

.quartier {
  font-size: 23px;
}
.ajuster-img {
  object-position: center -196px;
}

ul:visited {
  color: $white;
  text-decoration: none;
}

a:link {
  &:visited {
    color: black;
  }
  &:hover,
  &:visited {
    text-decoration: none;
  }
}

.new {
  position: relative;
}

//
// Bouton J'aime
//

.favorite {
  position: relative;
  cursor: pointer;
  right: 45px;
  top: 13px;

  &__empty {
    color: black;
    font-size: 30px;
    position: absolute;
    z-index: 2;

    &:active {
      color: $primary-color;
    }
  }

  &__filled {
    opacity: 0;

    position: absolute;
    left: 0;
    font-size: 30px;
    right: 45px;
    z-index: 1;
  }

  &:hover {
    & .favorite__empty {
      opacity: 0;
      color: $primary-color;
      transform: scale(2);
      transition: all 0.5s;
    }
    & .favorite__filled {
      opacity: 1;
      color: $primary-color;
    }
  }
}
//
//
