.btn {
  @include gradient;
  padding: 1.6rem;
  width: 18rem;
  border-radius: 50rem;
  border: none;
  cursor: pointer;
  box-shadow: $shadow-1;
  z-index: 0;

  @include respond(desktop) {
    font-size: 2.5rem;
  }
  @include respond(desktop-big) {
    font-size: 2.5rem;
  }

  a {
    color: $white !important;
  }

  &::after {
    @include gradient;
    font-size: 2rem;
    width: 3rem;
    padding: 2rem;
    border-radius: 50rem;
    border: none;
    margin: 2rem;
    cursor: pointer;
    box-shadow: $shadow-1;
    z-index: -1;
  }

  &:link,
  &:visited {
    display: inline-block;
    transition: all 0.2s;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: $shadow-1;

    &:active {
      transform: translateY(-1px);
      box-shadow: $shadow-2;
    }
  }

  &__header {
    width: 22rem;
    margin: 3rem;
    font-size: 1.5rem;
    font-weight: 500;

    @include respond(tab-port) {
      width: 42rem;
      margin: 3rem;
      font-size: 2.7rem;
      padding: 2rem;
    }
    @include respond(tab-land) {
      width: 42rem;
      margin: 3rem;
      font-size: 2.7rem;
      padding: 2rem;
    }

    @include respond(desktop) {
      font-size: 2.5rem;
      width: 35rem;
    }
    @include respond(desktop-big) {
      font-size: 2.5rem;
      width: 35rem;
    }
  }
  &__commander {
    margin: 3rem auto;
    display: block;
  }
}
