.btn {
  @include gradient;
  padding: 1.6rem;
  border-radius: 50rem;
  border: none;
  cursor: pointer;
  box-shadow: $shadow-2;
  z-index: 0;
  width: 22rem;
  margin: 3rem;
  font-size: 1.5rem;
  font-weight: 500;

  @include respond(tablet) {
    width: 35rem;
    margin: 3rem;
    font-size: 2.5rem;
    padding: 2rem;
  }

  @include respond(desktop) {
    font-size: 2rem;
    width: 30rem;
  }
  @include respond(desktop-big) {
    font-size: 3rem;
    width: 45rem;
    padding: 2rem;
  }
  a {
    color: $white !important;
  }

  &:link,
  &:visited {
    display: inline-block;
    transition: all 0.2s;
  }

  &:hover {
    @include gradient-hover;
    transform: translateY(-3px);
    box-shadow: $shadow-1;

    &:active {
      transform: translateY(-1px);
      box-shadow: $shadow-1;
    }
  }

  &__commander {
    margin: 5rem auto;
    display: block;
    width: 18rem;

    @include respond(tablet) {
      margin: 7rem auto;

      width: 30rem;
    }
    @include respond(desktop) {
      width: 23rem;
    }

    @include respond(desktop-big) {
      margin: 5rem auto;
    }
  }
}
