.course {
  padding: 1.5rem;
  padding-top: 2.5rem;
  height: fit-content;
  background-color: $light-grey;
  &__title {
    padding-left: 1%;

    @include respond(desktop) {
      padding-left: 5%;
    }

    @include respond(desktop-big) {
      padding-left: 5%;
    }

    h2 {
      text-transform: uppercase;
      font-size: 1.7rem;
      font-weight: 400;
      padding: 2.2rem 0;

      @include respond(desktop) {
        font-size: 3.5rem;
      }

      @include respond(desktop-big) {
        font-size: 3.5rem;
      }
    }
    &--underline {
      border-bottom: 0.3rem solid $tertiary-color;
      padding-bottom: 0.5rem;
    }
  }
}
.dish {
  &__dish {
    // width: 100%;
  }

  &__card {
    background-color: $white;
    border-radius: 1.5rem;
    overflow: hidden;
    padding: 1.2rem 1rem;
    position: relative;
    cursor: pointer;

    width: 100%;
    min-height: 6.7rem;
    height: fit-content;

    @include respond(desktop) {
      width: 33.3333%;
    }

    @include respond(desktop-big) {
      width: 33.3333%;
    }

    &:hover {
      & .dish__name {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      & .dish__dish {
        width: 85%;
      }

      & .dish__icon {
        transform: translateX(-2rem) rotate(360deg);
      }

      & .dish__price {
        transform: translateX(-6rem);
        width: 12%;
      }
      & .dish__checked {
        background-color: $tertiary-color;
      }
    }
  }

  &__name,
  &__dish,
  &__side,
  &__price,
  &__icon,
  &__checked {
    transition: all 0.3s ease-out;
  }
  &__name {
    font-weight: 600;
    font-size: 1.8rem;

    width: 80%;
    @include respond(desktop) {
      font-size: 2rem;
    }
    @include respond(desktop-big) {
      font-size: 2.7rem;
    }
  }

  &__side {
    font-size: 1.5rem;
    font-weight: 300;
    white-space: nowrap;
    width: 100%;
    @include respond(desktop) {
      font-size: 1.8rem;
    }
    @include respond(desktop-big) {
      font-size: 2.5rem;
    }
  }

  &__price {
    height: 100%;
    width: 15%;
    background-color: white;
    position: absolute;
    z-index: 20;
    right: 0;
    top: 0;
    span {
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 6;

      @include respond(desktop) {
        font-size: 2rem;
      }

      @include respond(desktop-big) {
        font-size: 2.5rem;
        line-height: 6.5;
      }
    }
  }
  &__checked {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    height: 110%;
    width: 20%;
  }
  &__icon {
    position: absolute;
    top: 35%;
    right: 0;
    color: $white;
    font-size: 2rem;
    @include respond(desktop) {
      font-size: 3rem;
    }

    @include respond(desktop-big) {
      font-size: 3.5rem;
    }
  }
}
