.course {
  padding: 1.5rem;
  padding-top: 2.5rem;
  height: fit-content;
  background-color: $light-grey;

  @include respond(tab-port) {
    padding-top: 10rem;
  }
  @include respond(tab-land) {
    padding-top: 10rem;
  }
  @include respond(desktop) {
    padding-top: 10rem;
  }
  @include respond(desktop-big) {
    padding-top: 10rem;
  }
  &__title {
    padding-left: 2%;

    h2 {
      text-transform: uppercase;
      font-size: 1.7rem;
      font-weight: 400;
      padding: 2.2rem 0;

      @include respond(tab-port) {
        font-size: 3rem;
      }

      @include respond(tab-land) {
        font-size: 3rem;
      }

      @include respond(desktop) {
        font-size: 3.5rem;
      }

      @include respond(desktop-big) {
        font-size: 3.5rem;
      }
    }
    &--underline {
      border-bottom: 0.3rem solid $tertiary-color;
      padding-bottom: 0.5rem;
    }
  }

  &__choice {
    @include respond(desktop) {
      width: 33.3333%;
    }

    @include respond(desktop-big) {
      width: 33.3333%;
    }
  }
}
