.dish {
  &__dish {
    // width: 100%;
  }

  &__card {
    background-color: $white;
    border-radius: 1.5rem;
    overflow: hidden;
    padding: 1.2rem 1rem;
    position: relative;
    cursor: pointer;

    width: 100%;
    // min-height: 6.7rem;
    height: fit-content;

    @include respond(desktop) {
      max-height: 12rem;
      padding: 1.4rem 1rem;
    }

    @include respond(desktop-big) {
      min-height: 10rem;
      padding: 1.2rem 1rem;
    }

    &:hover {
      & .dish__name,
      & .dish__side {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      & .dish__dish {
        width: 85%;
      }

      & .dish__icon {
        transform: translateX(-2rem) rotate(360deg);
        @include respond(desktop) {
          transform: translateX(-3rem) rotate(360deg);
        }

        @include respond(desktop-big) {
          transform: translateX(-3rem) rotate(360deg);
        }
      }

      & .dish__price {
        transform: translateX(-6rem);

        @include respond(desktop) {
          transform: translateX(-9rem);
        }

        @include respond(desktop-big) {
          transform: translateX(-9rem);
        }
      }
    }
  }

  &__name,
  &__dish,
  &__side,
  &__price,
  &__icon,
  &__checked {
    transition: all 0.3s ease-out;
  }
  &__name {
    font-weight: 600;
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    width: 80%;

    @include respond(tab-port) {
      font-size: 3.5rem;
    }
    @include respond(tab-land) {
      font-size: 3.5rem;
    }
    @include respond(desktop) {
      font-size: 2rem;
    }
    @include respond(desktop-big) {
      font-size: 2.5rem;
    }
  }

  &__side {
    font-size: 1.5rem;
    font-weight: 300;
    white-space: nowrap;
    width: 80%;

    @include respond(tab-port) {
      font-size: 3.5rem;
    }
    @include respond(tab-land) {
      font-size: 3.5rem;
    }

    @include respond(desktop) {
      font-size: 2.2rem;
    }
    @include respond(desktop-big) {
      font-size: 2.2rem;
    }
  }

  &__price {
    // display: none;
    height: 100%;
    width: 20.5%;
    background-color: white;
    position: absolute;
    z-index: 20;
    right: 0;
    top: 0;
    span {
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 6;
      @include respond(tab-port) {
        font-size: 3rem;
        line-height: 5;
      }

      @include respond(tab-land) {
        font-size: 3rem;
        line-height: 6;
      }

      @include respond(desktop) {
        font-size: 2rem;
        line-height: 5;
      }

      @include respond(desktop-big) {
        font-size: 2.5rem;
        line-height: 5;
      }
    }
  }
  &__checked {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    height: 110%;
    width: 20%;
    background-color: $tertiary-color;
  }

  &__icon {
    position: absolute;
    top: 35%;
    right: 0;
    color: $white;

    font-size: 2rem;
    @include respond(desktop) {
      font-size: 3rem;
      top: 3rem;
    }

    @include respond(desktop-big) {
      font-size: 3.5rem;
      top: 3rem;
    }
  }
}
