.favorite {
  position: relative;
  cursor: pointer;
  right: 1.5rem;
  top: 0.5rem;
  font-size: 2.5rem;

  &--empty {
    color: black;
    position: absolute;
    z-index: 2;

    &:active {
      color: $primary-color;
    }
  }

  &--filled {
    opacity: 0;
    position: absolute;
    z-index: 1;
    color: transparent;
  }

  &:hover {
    & .favorite--empty {
      opacity: 0;
      color: $primary-color;
      transform: scale(2);
      transition: all 0.5s;
    }
    & .favorite--filled {
      opacity: 1;
      background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from($primary-color),
        to($secondary-color)
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  @include respond(tab-port) {
    top: 1rem;
    font-size: 3.5rem;
  }

  @include respond(tab-land) {
    top: 1rem;
    font-size: 3.5rem;
  }
  @include respond(desktop) {
    right: 1rem;
    top: 1.5rem;
    font-size: 2.8rem;
  }

  @include respond(desktop-big) {
    right: 1rem;
    top: 1.5rem;
    font-size: 2.8rem;
  }
}
