body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  // font-size: 16px;
  line-height: 1.5;
  color: $black;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
}

h3 {
  font-size: 2.5rem;
  width: 90%;
  padding-left: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
