// /* PAGES DE RESTAURANT INDIVIDUELLES */
@import "../commun/02_variables";

.header {
  position: static;
  background-color: white;
}

//
.restaurant {
  &__img--page {
    height: 385px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 90px;
  }
  &__flex {
    background-color: $light-grey;
    width: 100%;
  }
  &__name {
    font-family: "Shrikhand";

    background-color: $light-grey;
    width: 50%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    position: absolute;
    top: 400px;
    padding: 40px 20px 40px 20px;
    font-size: 40px;
    width: 100%;
    font-weight: normal;

    &--center {
      width: 100%;

      display: flex;
      justify-content: space-between;
      padding: 0 20px;

      & h1 {
        display: inline;

        font-weight: normal;
        font-size: 50px;
      }
    }
  }
}

#pages {
  font-size: 35px;
}

.content {
  padding: 15px;
  background-color: $light-grey;

  &__flex {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
  }

  &__title {
    font-weight: normal;
    font-size: 25px;
    margin-bottom: 20px;
    font-family: "Roboto-Regular";

    &--underline {
      border-bottom: $tertiary-color 3px solid;
      padding-bottom: 10px;
    }
  }
}

.commander {
  background-color: #f2f2f2;
  text-align: center;
  padding-bottom: 50px;
}

// ANIMATIONS

.course {
  background-color: #f2f2f2;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}
.overflow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  padding: 35px;
}
.card__repas {
  position: relative;

  border-radius: 20px;
  overflow: hidden;
  white-space: nowrap;

  &:hover {
    & .plat__price {
      transform: translate(-130px);
      width: 21%;
    }

    & .dish__animation {
      transform: translateX(-55px) rotate(360deg);
    }

    & .overflow {
      width: 70%;
    }
  }
}
.overflow,
.plat__price,
.icon,
.card__repas {
  height: 192px;
  transition: all ease-in-out 400ms;
}

.icon {
  width: 30%;
}

.plat__price {
  position: absolute;
  right: 0;
  top: 0;
  background-color: white;
  scale: 1;
  width: 15%;
}

.dish {
  &__side {
    font-size: 44px;
  }
  &__name {
    font-size: 50px;
  }

  &__name,
  &__side {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 12px;
  }

  &__animation {
    color: white;
    transition: all ease-in-out 400ms;
    line-height: 3 !important;
    float: right;
    font-size: 55px;
    padding: 0 20px;
  }
}

.icon {
  position: absolute;
  right: 0;
  top: 0;
  background-color: $tertiary-color;
  width: 14%;
}

.price {
  font-family: "Roboto-Bold";
  line-height: 6;
  font-size: 44px;
  text-align: center;
}
