$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$prim-color-darken: darken($primary-color, $amount: 5);
$sec-color-darken: darken($secondary-color, $amount: 15);

$white: #fff;
$light-grey: #f2f2f2;
$black: black;

$shadow-active: 0 10px 20px rgba($black, 0.2);
$shadow: 0 5px 10px rgba($black, 0.2);

@mixin fct-hover($color: $primary-color) {
  background-color: lighten($color, $amount: 25);
}

@mixin light-bg($color: $black) {
  background-color: lighten($color, $amount: 50);
}

@mixin footer-bg($color: $black) {
  background-color: lighten($color: #000000, $amount: 10);
}

@mixin darkened($color: $tertiary-color) {
  color: darken($color, $amount: 35);
}

@mixin lighten($color: $tertiary-color) {
  color: lighten($color, $amount: 35);
}

@mixin darken-button-bg {
  background: linear-gradient(
    to bottom right,
    $sec-color-darken,
    $prim-color-darken
  );
}

@mixin favorite-hover {
  color: linear-gradient(to bottom right, $primary-color, $secondary-color);
}
//
//
