@import "./02_variables";

.btn {
  background: linear-gradient(
    to bottom right,
    $secondary-color,
    $primary-color
  );
  width: 255px;
  color: $white;
  font-size: 17px;
  cursor: pointer;
  box-shadow: $shadow;
  outline: none;
  border: none;
  padding: 20px 30px;
  border-radius: 100px;

  z-index: 0;

  &::after {
    background: linear-gradient(
      to bottom right,
      $secondary-color,
      $primary-color
    );
    width: 255px;
    color: $white;
    font-size: 17px;
    cursor: pointer;
    box-shadow: $shadow;
    outline: none;
    border: none;
    padding: 20px 30px;
    border-radius: 100px;

    z-index: -1;
  }
  &:link,
  &:visited {
    display: inline-block;
    transition: all 0.2s;
  }

  &:visited {
    color: $white;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: $shadow;
    color: $white;
    @include darken-button-bg;
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: $shadow-active;
  }

  &__header--text {
    color: $white;
  }
}

