@import "./02_variables";

.header {
  &__logo {
    height: 40px;

    &--center {
      margin: 20px auto;
      text-align: center;
    }
  }

  &__flex {
    display: flex;
  }
}

.fleche-retour {
  text-align: left;
  font-size: 30px;
  line-height: 1.4;
  padding: 0 29px;
  position: absolute;
}

.nav {
  margin-bottom: 50px;
}

.location {
  @include light-bg;
  border-top: $light-grey 4px solid;
  display: flex;
  gap: 20px;
  justify-content: center;

  padding: 20px;

  &__icon {
    font-size: 20px;
  }

  &__text {
    font-size: 20px;
    font-family: "Roboto-Bold";
  }
}
