@import "../commun/02_variables";

/* FOOTER */

.footer {
  @include footer-bg;
  
  padding: 25px;
  width: 100%;
  color: $white;

  &__logo {
    filter: invert(1);
    height: 17px;
    margin-bottom: 25px;

    &--adjust {
      font-size: 13px;
    }
  }

  a:visited,
  a:link,
  a:hover {
    color: $white;
  }

  &__icon {
    margin-right: 10px;
  }
}

li {
  list-style: none;
  margin-bottom: 10px;
}

.mentions-legales:visited,
.mentions-legales {
  color: $white;
}
