.restaurant-page {
  position: relative;

  &__img {
    height: 25rem;
    width: 100%;
    object-fit: cover;

    @include respond(desktop) {
      height: 45rem;
    }
    @include respond(desktop-big) {
      height: 45rem;
    }
  }

  &__name {
    font-family: "Shrikhand";
    font-size: 2.3rem;
    font-weight: 100;

    max-width: 1800px;

    // TODO: changer le font weight de la police.
  }
  &__name-box {
    background-color: $light-grey;
    position: absolute;
    bottom: -5rem;
    width: 100%;
    padding: 5rem;
    padding-top: 6rem;
    padding-bottom: 0;
    border-radius: 6rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  &__favorite {
    .favorite {
      right: -1rem;
      top: 1;
      font-size: 3rem;
    }
  }
}
