.flex {
  display: flex;

  &__spinner {
    gap: 1rem;
  }
  &__location {
    gap: 2rem;
    justify-content: center;

    @include respond(desktop-all-sizes) {
      justify-content: right;
      padding: 1rem;
    }
  }

  &__header {
    display: block;

    @include respond(desktop-all-sizes) {
      display: flex;
    }
  }
  &__hero {
    flex-direction: column;
    gap: 3rem;
  }

  &__fonctionnement {
    flex-direction: column;
    gap: 3rem;

    @include respond(desktop-all-sizes) {
      flex-direction: row;
      width: 95%;
      margin: 0 auto;
    }
  }

  &__fonctionnement-box {
    flex-direction: row;
    gap: 2rem;
  }
  &__restaurant {
    flex-direction: column;
    gap: 2.5rem;
    flex-wrap: wrap;

    @include respond(tablet) {
      flex-direction: row !important;
    }

    @include respond(desktop-all-sizes) {
      flex-direction: row;
    }

    &-informations {
      justify-content: space-between;
    }
  }
  &__footer {
    gap: 2rem;
  }

  &__page-name {
    flex-direction: row;
    justify-content: space-between;
  }

  &__restaurant-cards {
    flex-direction: column;
    gap: 2rem;
    justify-content: center;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    @include respond(desktop-all-sizes) {
      gap: 3rem;
    }
  }

  &__course {
    flex-direction: column;

    @include respond(desktop-all-sizes) {
      flex-direction: row;
      gap: 5rem;
    }
  }

  &__choice {
    flex-direction: column;
    @include respond(desktop-all-sizes) {
      flex-direction: column;
    }
  }
}
