.fonctionnement {
  padding-top: 5rem;

  &__step {
    position: relative;
    width: 80%;
    border-radius: 1.5rem;
    padding: 2rem;
    background-color: $light-grey;
    transition: all 0.2s ease-out;
    height: 7.5rem;
    line-height: 2.5;
    cursor: pointer;
    box-shadow: $shadow-1;

    &:hover {
      background-color: $primary-color-light;

      & .fonctionnement__icon {
        color: $primary-color;
      }
    }
  }
  &__number {
    span {
      color: $white;
      position: absolute;
      top: 3rem;
      left: -2rem;
      height: 2.5rem;
      width: 2.5rem;
      font-size: 1.5rem;
      background-color: $primary-color;
      border-radius: 50%;
      text-align: center;
      line-height: 1.6;
    }
  }
  &__icon {
    font-size: 2.5rem;
    color: $dark-grey;
    line-height: 1.5 !important;
  }

  &__box {
    padding-left: 2rem;
  }
  &__text {
    font-size: 1.6rem;
    font-weight: 600;
  }
}
