.footer {
  width: 100%;
  color: $white;
  background-color: black;
  padding: 3rem;
  height: 19.5rem;

  &__logo {
    filter: invert(1);
    margin-bottom: 1.8rem;
    height: 1.7rem;
  }

  &__icon {
    line-height: 1;
  }
  &__link {
    font-size: 1.5rem;
    a:visited,
    a:link,
    a:hover {
      color: white;
    }
  }
}
