.footer {
  width: 100%;
  color: $white;

  &__logo {
    filter: invert(1);
    margin-bottom: 25px;
    height: 1.7rem;
  }

  &__icon {
    line-height: 1;
  }
  &__link {
    font-size: 1.5rem;
    a:visited,
    a:link,
    a:hover {
      color: white;
    }
  }
}
