.hero {
  text-align: center;
  background-color: $light-grey;
  height: 29rem;
  width: 100%;
  overflow: hidden;
  padding: 3rem 0;
  h1 {
    display: inline-block;
    font-size: 2.5rem;
    width: 70%;
    line-height: normal;
    font-weight: 700;
    margin: 1rem 0;

    @include respond(desktop) {
      font-size: 4.5rem;
    }
    @include respond(desktop-big) {
      font-size: 4.5rem;
    }
  }
}

h2 {
  font-size: 1.8rem;
  font-weight: 300;
  width: 90%;
  line-height: normal;

  @include respond(desktop) {
    font-size: 3rem;
  }
  @include respond(desktop-big) {
    font-size: 3rem;
  }
}
