.hero {
  text-align: center;
  background-color: $light-grey;
  height: 29rem;
  width: 100%;
  overflow: hidden;
  padding: 3rem 0;
  @include respond(tab-port) {
    height: 40rem;
  }
  @include respond(tab-land) {
    height: 43rem;
  }
  @include respond(desktop) {
    padding: 8rem 0;
    height: 43rem;
  }

  h1 {
    display: inline-block;
    font-size: 2.3rem;
    width: 70%;
    line-height: normal;
    font-weight: 700;
    margin: 1rem 0;

    @include respond(tablet) {
      font-size: 4.5rem;
    }

    @include respond(desktop-all-sizes) {
      font-size: 5rem;
    }
  }
}

h2 {
  font-size: 1.8rem;
  font-weight: 300;
  width: 91%;
  line-height: normal;
  @include respond(tablet) {
    font-size: 3.5rem;
    width: 80%;
  }

  @include respond(desktop-all-sizes) {
    font-size: 4rem;
  }
}
