.spinner {
  // display: none;

  height: 100vh;
  width: 100%;
  background-color: $white;
  opacity: 1;
  transition: opacity 3s;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000;
  // animation: disappearing 3s ease-out;
  // animation-fill-mode: forwards;

  &__center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%), opacity(0);
  }

  &__ball {
    animation: loading 1s ease-in-out infinite alternate;
    position: absolute;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;

    &--1 {
      @include gradient-2;
      top: 50%;
      left: 50%;
    }
    &--2 {
      @include gradient-3;
      animation-delay: 0.2s;
      top: 45%;
      left: 45%;
    }
    &--3 {
      @include gradient-4;
      animation-delay: 0.4s;
      top: 45%;
      left: 55%;
    }
  }
}
// Animation
@keyframes loading {
  0% {
    // transform: scale(0.5);
  }
  50% {
    // transform: scale(1);
  }

  100% {
    transform: scale(0.5);
  }
}

@keyframes disappearing {
  0% {
    opacity: 1;
    width: 100%;
  }
  99% {
    opacity: 1;
    width: 100%;
  }

  100% {
    opacity: 0%;
    width: 0%;
  }
}
